.contacts-container {
  display: flex;
  gap: toRem(20);
  width: 100%;

  padding: toRem(20);
  .github-icon {
    width: toRem(40);
    height: toRem(40);
    color: white;

    @include mq("tablet") {
      width: toRem(70);
      height: toRem(70);
    }
  }
}
