$text-color: #f5f5f4;
$black: #000;
$primary-color: #dc2626;
$primary-color-gpt: #ff0000;

$secondary-color: #1d4ed8;
$font-main: "Hammersmith One", sans-serif;
$font-headding: "Ultra", serif;

$bg: $primary-color;
$text: rgba(255, 255, 255, 0.7);
$hover: darken($bg, 10%);
