.content {
  display: flex;
  flex-direction: column;
  gap: toRem(30);

  .skills-container {
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: column;
    justify-content: space-around;

    gap: toRem(30);

    @include mq("tablet") {
      flex-direction: row;
    }

    .sides {
      display: flex;
      flex-direction: column;

      color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 10px;

      @include mq("tablet") {
        width: calc(100% / 4);
      }

      .icons {
        width: toRem(100);
        height: toRem(100);
      }

      .side {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;

        p {
          margin-left: 20px;
          font-size: toRem(24);
        }
      }
    }
  }
}

.subtitle {
  p {
    margin-top: 20px;
    font-size: toRem(18);
  }
}
