.content {
  display: flex;
  flex-direction: column;
  gap: toRem(60);
  min-height: 100vh;

  .skills-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: toRem(30);

    .sides {
      display: flex;
      flex-direction: column;
      color: #fff;
      border: 1px solid #fff;

      padding: 20px;

      border-radius: 10px;

      .icons {
        width: toRem(100);
        height: toRem(100);
      }

      .side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
          margin-left: 20px;
          font-size: toRem(24);
        }
      }
    }
  }
}

.subtitle {
  p {
    margin-top: 20px;
    font-size: toRem(18);
  }
}
