.container-work {
}

.rightside {
  display: flex;
  flex-direction: column;

  width: 100%;

  @include mq("desktop") {
    flex-direction: row;
    gap: toRem(30);
  }
}

.skill-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  padding: toRem(10) toRem(40);

  @include mq("desktop") {
  }
}

.cont {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px 0;
  color: white;
}

.html {
  width: 90%;
  background-color: #ff0000;
}
.css {
  width: 85%;
  background-color: #ff0000;
}
.js {
  width: 70%;
  background-color: #ff0000;
}
.react {
  width: 75%;
  background-color: #ff0000;
}
