.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.leftside {
  display: flex;
  color: $text-color;
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: toRem(30);
  width: 100%;
}

.cont {
  flex: 1;
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #ff0000;
}
.css {
  width: 85%;
  background-color: #ff0000;
}
.js {
  width: 70%;
  background-color: #ff0000;
}
.react {
  width: 75%;
  background-color: #ff0000;
}
