.container-work {
  display: flex;
  flex-direction: column;
  gap: toRem(45);
  min-height: 100vh;
}

.leftside {
  display: flex;
  justify-content: center;
  color: $text-color;
  padding-top: toRem(60);
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: toRem(30);
  width: 100%;
}

.cont {
  flex: 1;
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px 0;
  color: white;
}

.html {
  width: 90%;
  background-color: #ff0000;
}
.css {
  width: 85%;
  background-color: #ff0000;
}
.js {
  width: 70%;
  background-color: #ff0000;
}
.react {
  width: 75%;
  background-color: #ff0000;
}
